{% extends '::base.html.twig' %}

{% block content %}
	<div class="row">
		
		<h1 align="center">Agregar alumno</h1>

		<div class="large-6 columns" >

    		{{ form_start(form, { 'action': path('alumno_new'), 'method': 'POST' }) }}
    			{{ form_label(form.nombre, 'Nombre') }}
                {{ form_widget(form.nombre) }}
                {{ form_label(form.apellidoPaterno, 'Apellido Paterno') }}
                {{ form_widget(form.apellidoPaterno) }}
                {{ form_label(form.apellidoMaterno, 'Apellido Materno') }}
                {{ form_widget(form.apellidoMaterno) }}
                {{ form_label(form.curp, 'CURP') }}
                {{ form_widget(form.curp) }}
                {{ form_label(form.semestre, 'Semestre') }}
                {{ form_widget(form.semestre) }}
                {{ form_label(form.email, 'Email') }}
                {{ form_widget(form.email) }}
                
                <br>
                <p hidden>{{ form_widget(form.idEquipo) }}</p>
                <input type="submit" value="Save" >
                 <br>
            {{ form_end(form) }}
    	</div>
	</div>	

        
{% endblock %}
